/* Contains navbar and basic document styles */
*
{
    box-sizing: border-box;
}

body
{
    margin: 0 0;
    padding: 0 0;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.contentWrapper
{
    width: 100%;
}
.pageHeader
{
    position:relative;
    height: 150px;
    width:100%;

    background-color: #414956;
    background-color:white;
}
#navbar
{
    width: 60%;
    display: flex;
    justify-content:space-around;
    position: absolute;
    top: 20px;
    left:20%;
    right:20%;

    margin-left:auto;
    margin-right:auto;
    
    list-style-type: none;
    padding:0;
}
#navbar a
{
    text-align:center;
    width: 13%;
    padding: 7px 10px;
    border: 1.5px solid black;
    border-radius: 50px;

    text-decoration: none;
    color: black;

    transition: background-color 0.25s;
}

#navbar a.active
{
    background-color: black;
    color: white;
}

#navbar a:hover
{
    background-color: black;
    color: white;
}