.emailBox
{
    position: relative;
    background-color: white;
    -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
    float: left;
}

.textShift-email
{
    float:right;
    width: 15%;
    height: 100%;
    background-color: white;
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%);
}

.socialBox
{
    position: relative;
    background-color: #3f4651;
    -webkit-clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
    float: left;
    color:white;
}

.textShift-social
{
    float: left;
    width: 15%;
    height: 100%;
    background-color: white;
    -webkit-clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
}

.container
{
    display: grid;
    grid-template-columns: 50% 50%;
    filter: drop-shadow(0px 5px 3px rgba(0, 0, 0, 0.5));
    height: 40vh;
    padding-bottom: 6.5vw;
}

div[class*="Box"]
{
    text-align: center;
}

/* Text Stylings */
div[class*="Box"] h1
{
    font-size: 2.5vw;
    padding-bottom: 1vw;
}

.headline
{
    text-align:center;
    font-size: 4vw;
    padding: 0 0 10vw 0;
}

/* Icon stylings */
.social-icon
{
    height: 4vw;
    display: inline-block;
}

.social-container
{
    padding: 2vw 0;
}
.social-container .social-icon
{
    margin: 0 2vw;
}

a
{
    text-decoration: none;
}

@media only screen and (max-width: 650px)
{
    .container
    {
        grid-template-columns: 100%;
    }
    .textShift-email
    {
        display:none;
    }
    .textShift-social
    {
        display:none;
    }
    .emailBox
    {
        clip-path: none;
    }
    .socialBox
    {
        clip-path: none;
    }
    .headline
    {
        font-size: 12vw;
    }
    div[class*="Box"]
    {
        padding: 0 4vw;
    }
    .social-icon
    {
        height:9vw; 
    }
    .social-container .social-icon
    {
        margin: 0 4vw;
    }
    div[class*="Box"] h1
    {
        font-size: 6vw;
    }
}