/* First set of content on this page -- the Headline content. */
.midContent
{
    width:100%;
    height: 29.25vw;
    background-color: #414956;
    background-color:white;
}
#headline
{
    font-size:12vw;
    text-align:center;
    color: black;
    margin-bottom:0;
}
#sub-headline
{
    font-size:2vw;
    text-align:center;
    color:black;
    margin-top:0;
}
i.down-arrow-headline
{
    border: solid black;
    border-width: 0 1.65vw 1.65vw 0;
    display:inline-block;
    overflow: hidden;
    padding:1.4vw;

    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* Content Sections -- About first. */
.about-area, .skills-area
{
    padding:50px 0;
    overflow: hidden;
}

.about-area
{
    background-color: white;
    padding: 13vw 0;
}
.about-area p
{
    font-size: 1.5vw;
}

/* Gridview implementation */
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{Width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}
/* End of Gridview */

.about-table
{
    overflow:hidden;
    padding: 30px 10px;
    background-color: #FDFDFD;
    /* border-radius: 5px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align:center;
}
.skills-table
{
    padding: 0 2vw;
    text-align:center;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-column-gap: .5vw;
    grid-row-gap: .5vw;
}
.grid-full
{
    grid-column-start: 1;
    grid-column-end: 5;
}

div[class$="table"]>div
{   
    float:left;
    padding:0 .65vw;
    position: relative;
}


/* Skills section */
.skills-area
{
    text-align: center;
    overflow: hidden;   
}
.section-headline
{
    font-size:7vw;
    text-align:center;
}
.section-content
{
    text-align: center;
    font-size: 1.3vw;
    /* These lines are prototype for tiles */
    padding: 1.95vw 1.95vw;
    box-shadow: 0px 0px 5px #888888;
}

.section-content ul
{
    list-style-type: none;
    text-align: center;
    padding: 0 0;
}
h3
{
    font-size: 2vw;
}
h3.section-content-title
{
    font-size: 2vw;
    text-align: center;
}

img.icon
{
    height: 8.45vw;
}

ul.courseList
{
    float:left; 
    text-align: left; 
    margin:0 5px;
}

ul.courseList:nth-of-type(2)
{
    float:right;
}