*
{
    box-sizing: border-box;
}

body
{
    margin: 0 0;
    padding: 0 0;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.pageHeader
{
    position:relative;
    height: 150px;
    width:100%;

    background-color: #414956;
    background-color:white;

    /* background-color: black;
    border-bottom-left-radius: 100% 70px; -- Going to need an opinion on this. Adds more contrast/structure, but messes with the open-concept feel and fluidity.
    border-bottom-right-radius: 100% 70px; */
}
#navbar
{
    width: 60%;
    display: flex;
    justify-content:space-around;
    position: absolute;
    top: 20px;
    left:20%;
    right:20%;

    margin-left:auto;
    margin-right:auto;
    
    list-style-type: none;
    padding:0;
}
#navbar a
{
    text-align:center;
    width: 13%;
    padding: 7px 10px;
    border: 1.5px solid black;
    border-radius: 50px;

    text-decoration: none;
    color: black;

    transition: background-color 0.25s;
}

#navbar a.active
{
    background-color: black;
    color: white;
}

#navbar a:hover
{
    background-color: black;
    color: white;
}

/* Starting specific styles for the project page */
.contentWrapper
{
    padding: 0 100px;
}

a.project-link
{
    /* Check for a better fix than this. */
    /* Maybe just add cursor: pointer, and an onclick event to the project-card itself. */
    color:black;
}

.project-card
{
    position: relative;
    padding: 30px 50px;
    padding-left: 25px;
    overflow: hidden;
    margin-bottom: 1.5vw;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.25s;
}
.project-card:hover
{
    transform: scale(1.1);
    /* cursor: pointer; */
}
.project-card div
{
    float: left;
}
.project-card-img
{
    height: 100%;
    margin-right: 25px;
}
.project-card-text
{
    height: 100%;
    text-align: left;
    width: calc(100% - 8.5vw - 25px);
    position: relative;
}
img.project-icon
{
    height: 8.5vw;
    width: 8.5vw;
}

h3.project-title
{
    font-size: 3vw;
    margin: 0;

    border-bottom: 5px solid black;
}

p
{
    font-size: 1.1vw;
}

p.tags
{
    position: absolute;
    bottom: 1vw;
    right: 1vw;
    margin: 0;
}