.project-card div
{
    float: left;
}
.project-card-img
{
    height: 100%;
    margin-right: 25px;
}
.project-card-text
{
    height: 100%;
    text-align: left;
    width: calc(100% - 8.5vw - 25px);
    position: relative;
}
img.project-icon
{
    height: 8.5vw;
    width: 8.5vw;
}
.project-card
{
    position: relative;
    padding: 30px 50px;
    padding-left: 25px;
    overflow: hidden;
    margin-bottom: 1.5vw;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.25s;
}

.project-grid
{
    padding-top: 1.5vw;
}

@media only screen and (max-width: 650px)
{
    p
    {
        font-size: 3vw;
    }
    .project-card-text ul
    {
        font-size: 3vw;
    }
}