a.project-link
{
    /* Check for a better fix than this. */
    /* Maybe just add cursor: pointer, and an onclick event to the project-card itself. */
    color:black;
    text-decoration: none;
}
.project-card:hover
{
    transform: scale(1.1);
    /* cursor: pointer; */
}
h3.project-title
{
    font-size: 3vw;
    margin: 0;

    border-bottom: .325vw solid black;
}

p
{
    font-size: 1.1vw;
}

p.tags
{
    font-weight: 900;
    position: absolute;
    bottom: 1vw;
    right: 1vw;
    margin: 0; 
}
.project-card-text
{
    padding-bottom: 1vw;
}

/* Styles for the toggle button */

.switchBox
{
    position: relative;
    left: 1vw;
    top: .5vw;
    display: inline-block;
    height: 30px;
    width: 80px;
    cursor: pointer;
}

.styleToggle {display:none;}

.slider
{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: #ddd;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider::before
{
    position: absolute;
    content:"";
    background: url('../images/tiles.png');
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
    background-color: white;
    left: 4px;
    bottom: 3px;
    -webkit-transition: .4s;
    transition: .4s;
}

.styleToggle:checked + .slider::before
{
    background-image: url('../images/list.png');
    -webkit-transform: translateX(48px);
    -ms-transform: translateX(48px);
    transform: translateX(48px);
}

@media only screen and (max-width:650px)
{
    h3.project-title
    {
        font-size:5vw;
    }
    .project-card-text ul
    {
        font-size: 2.5vw;
    }
}